@import "./../variable";

._header{
  background: #18276c;

  &_contant{
    background: #1a190a;
    color: #283885;
    &:hover{
      color: white;
      font-size: 2px;
    }
    &_item {
      @media screen and (max-width: 768px) {
        position: relative;
        ul{
          display: flex;
          flex-direction: column;
          width: 100%;
          position: absolute;
          top: 8px;
          left: -100%;
          opacity: 1;
          text-align: start;
          transition: all 0.5s ease;

        }
        ul.active{
          background-color:#18276c ;
          float: top;
          left: 0;
          opacity: 1;
          transition: all 0.5s  ease;
          z-index: 10000;
        }
      }
      ul {
        li {
          &:hover {
            transition: 0.3s ease all;
            background: #283885;
            border-top-right-radius: 25px;
            border-bottom-left-radius: 25px;
          }
        }
      }
    }

    &_btndiv.active{

      float: top;
      left: 0;
      opacity: 1;
      transition: all 0.5s  ease;
      z-index: 1000;
      margin-right: 2px;

    }
    &_btndiv{
      @media (max-width: 768px) {
        background-color: #283885;
        position: absolute;
        top: 210px;
        padding: 15px;
        justify-content: center;
        //margin-left: 11px;
       // margin-right: 11px;
        width: 100%;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
        flex-direction: row;
        opacity: 1;
      }
    }
  }

  &_logo{
    font-family: fantasy;
  }

}
._header_toggle{
  display: none;
  @media screen and (max-width: 768px){
    display: flex;
    position: absolute;
    color: #dcd214;
    &:hover {
      color: rgb(40, 56, 133);
    }
  }

}
._header_content_btndiv{
  z-index: 100;
  @media (max-width: 768px) {
    background-color: #283885;
    position: absolute;
    top: 80px;
    padding: 2rem;
    justify-content: center;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;

  }
}
._header_content_btn{
  @media (max-width: 768px) {
   position: relative;
  }
  text-decoration: none;
  color: #d6d8d9;
  border-radius: 10px;
  &:hover{
    transition: 0.2s ease all;
    background: #283885;
    color: #e5e8e8;
  }
}

@media (max-width: 768px) {
  .active{

  }
  
}